* {
	box-sizing: border-box;
}
body {
	background-color: white;
}
#logo-image {
	width: 80px;
	height: 40px;
	position: absolute;
	left:5px;
	top:22%;
	margin-right: 15px;
	float: right;
}
#search {
	border-radius: 30px;
	border: 1px 	#484848;
	position: absolute;
	top: 15px;
	left:90px;
	width: 76%;
	height: 48px;
	 margin-right: 16px;
	padding-left: 42px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px; 
	font-family: "Calibri";
	font-size: 20px; 
	background-color: #F0F0F0;
	box-shadow: 3px 3px 3px #D0D0D0 inset;
  background-image: url('images/searchicon.png');
  background-position: 99% 56%;
  background-repeat: no-repeat;
}
#header-nav {
	height: 115px;
	background-color: white;
	border-bottom-width:2px;
	width: 100%;
}

.signin {
	position: absolute;
	top:26%;
	right: 8%;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 25px;
	float: right;
}
a.h {
	color: black;
}
img.basket {
	height: 34px;
	width: 34px;
	position: absolute;
	right: 3%;
	top:20%;
	margin-left: 10px;
}
#nav-list {
	margin-top: 10px;
}
#nav-list a {
	text-align: center;
	color: black;
	font-size: 15px;
	font-weight: 3%;
	font-family: "Calibri";
}
#nav-list a:hover {
	text-decoration: underline;
	text-decoration-color: black;
}
.list {
	padding-right: 8px;
	padding-top: 10px;
	padding-left: 15px;
	margin-top: 80px;
	position: relative;
	top:25px;
	right: 40px;
}
.navbar-header button.navbar-toggle {
  clear: both;
  position: absolute;
  left:2px;
  top:53px;
  height: 32px;
}
.mainCon {
	font-size: 32px;
	font-weight: 250;
	letter-spacing: 0.5px;
	line-height: 36px;
	font-family: "Georgia";
	text-align: center;
	padding:3px;
}
.specialCorne {
	width: 100%;
	min-height: 300px;
	position: relative;
	top:30px;
	background-color:#F0F0F0; 
}
.Create {
	font-size: 3.6vw;
	position: absolute;
	top:15px;
	right: 50%;
	left:5%;
	float: left;
	color: black;
	font-family: "Georgia";
}
.cust {
	width: 20%;
	border:2px solid #D8D8D8;
	background-color: white;
	font-size: 1.2vw;
	letter-spacing: 0.3px;
	font-weight: bold;
	color: black;
	position: absolute;
	top:170px;
	left: 6%;
	border-radius: 0;
}
#replace {
	position: absolute;
	top:0px;
	right: 0;
	width: 50%;
	height: 100%;
}
.spin {
	font-size: 2.5vh;
	font-family: "Calibri";
	color:black;
	font-weight: bold;
}

/* Header */


@media (min-width: 501px) and (max-width: 899px) {
	#search {
		position: absolute;
		top:56px;
		left:55px;
		width:84%;
	}
	#logo-image {
		position: absolute;
		left:4px;
		top:5px;	
	}
	.signin {
		position: absolute;
		top:26%;
		right: 20%;
	}
	img.basket {
		position: absolute;
		top:17%;
		right: 12%;
	}
}
 @media (min-width: 900px) and (max-width: 980px)
{
	.list {
	position: relative;
	top:25px;
	right: 10px;
	font-size: 12px;
	}
}
@media (max-width: 500px)
{
	#search {
		position: absolute;
		top:56px;
		left:53px;
		width:84%;
	}
	#logo-image {
		position: absolute;
		left:4px;
		top:5px;	
	}
	.signin {
		position: absolute;
		top:23%;
		right: 23%;
	}
	img.basket {
		position: absolute;
		top:15%;
		right: 8%;
	}
	.mainCon {
		font-size: 25px;
	}
}
@media (min-width: 1199px) and (max-width: 1324px) {
	.list {
		padding-left: 1px;
		margin-right: 2px;
		padding-right: 3px;
	}
}
 @media (max-width: 766px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.in {
        display: block!important;
    }
    .navbar-nav>li {
        float: none;
    }
    #nav-list {
	margin-top: 55px;
	background-color: #E8E8E8;
	width: 100%;
	position: relative;
	top:10px;
    }
    #nav-list a {
	text-align: center;
	color: black;
	font-size: 15px;
	font-weight: 3%;
	font-family: "Calibri";
     }
     .list {
     	position: relative;
     	top:5px;
     }
     #nav-list a:hover {
     	border: 2px solid black;
     }

}
@media (min-width: 768px) and (max-width: 899px) {
	.navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.in {
        display: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    #nav-list {
	margin-top: 55px;
	background-color: #E8E8E8;
	width: 100%;
	position: relative;
	top:10px;
    }
    #nav-list a {
	text-align: center;
	color: black;
	font-size: 15px;
	font-weight: 3%;
	font-family: "Calibri";
     }
     .list {
     	position: relative;
     	top:5px;
     }
     #nav-list a:hover {
     	border: 2px solid black;
     }
}
/* Main */
@media (min-width: 640px)  and (max-width: 899px) {
	#nav-list {
		width: 60%;
		margin-left: 10px;
		z-index: 100;
	}
}
@media (max-width: 639px) {
	#nav-list {
		z-index: 100;
	}
}
@media (min-width: 700px) and (max-width: 899px) {
	.Create {
		font-size: 35px;
	}
	.cust {
		font-size: 1.2vw;
	}
}
@media (min-width: 545px)and (max-width: 699px) {
	.Create {
		font-size: 32px;
	}
	.cust {
		font-size: 10px;;
		width: 25%;
	}
}
@media (max-width: 544px) {
	#replace {
		position: relative;
		top:0;
		width: 100%;
		height: 45%;
	}
	.conc {
		position: absolute;
		top:300px;
		width: 100%;
		min-height: 200px;
		background-color: #F0F0F0;
	}
	.Create {
		position: relative;
		top:2px;
		left: 25px;
		padding-right: 15px;
		font-size: 35px;
		text-align-last: center;
	}
	.cust {
		width: 45%;
		font-size: 12px;
		position: relative;
		top:15px;
		left:30%;

	}
}
@media (min-height:300px) and (max-width: 384px) {
	#replace {
		position: relative;
		top:0;
		width: 100%;
		height: 45%;
	}
	.conc {
		position: absolute;
		top:250px;
		width: 100%;
		min-height: 220px;
		background-color: #F0F0F0;
	}
	.Create {
		position: relative;
		top:0;
		left: 25px;
		padding-right: 10px;
		font-size: 33px;
		text-align-last: center;
	}
	.cust {
		width: 45%;
		font-size: 10px;
		position: relative;
		top:15px;
		left:30%;

	}	
}
@media (max-width: 299px) {
	#replace {
		position: relative;
		top:0;
		width: 100%;
		height: 45%;
	}
	.conc {
		position: absolute;
		top:250px;
		width: 100%;
		min-height: 240px;
		background-color: #F0F0F0;
	}
	.Create {
		position: relative;
		top:0;
		left: 25px;
		padding-right: 10px;
		font-size: 30px;
		text-align-last: center;
	}
	.cust {
		width: 65%;
		padding-right: 10px; 
		font-size: 10px;
		position: relative;
		top:15px;
		left:25%;

	}
}
/* Footer */
.etsy {
	position: relative;
	margin-top: 350px;
	background-color: #ffe0bd;
	min-height: 900px;
	width: 100%;
	border-right: 15px solid orange;
	border-left: 15px solid orange;

}
@media (min-width: 1201px) {
	.etsy {
		position: relative;
		margin-top: 500px;
	}
	
}
@media (min-width: 640px) and (max-width: 899px) {
	.etsy {
		position: relative;
		margin-top: 700px;
	}
}
@media (min-width: 401px) and (max-width: 639px) {
	.etsy {
		position: relative;
		margin-top: 800px;
	}
}
@media (max-width: 400px) {
	.etsy {
		position: relative;
		margin-top: 740px;
	}
}
.what {
	font-size: 50px;
	font-family: "Times New Roman";
	position: absolute;
	top:10%;
	left:40%;
}
.community {
	text-align: center;
	padding-bottom: 100px;
	padding-top: 50px;
}
.com {
	font-size: 35px;
	font-family: "Guardian-EgypTT",serif;
	position:absolute;
	top:150px;
	left:50px;
	text-align: center;
}
#spn1 {
	margin-right: 100px;
	text-align: center;
}
#spn3 {
	margin-left: 56px;
}
.one, .two, .three {
	font-size: 20px;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	position: absolute;
	top:240px;
	left: 80px;
	right: 80px;
	text-align-last:center;
}
.one, .two {
	font-size: 20px;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	position: absolute;
	top:240px;
	left: 92px;
	}
.question {
	font-size:22px;
	font-weight: bold;
	position: absolute;
	top:310px;
	left:33%;
}
input {
	border-radius: 22px;
	border-color: black;
	font-weight: bold;
	background-color: #ffe0bd;
	height: 50px;
	width: 16%;
}
.inp {
	position: absolute;
	left:44%;
	top:350px;
}
@media (min-width: 1200px) and (max-width: 1299px) {
	.question {
	position: absolute;
	top:380px;
	left:33%;
}
.inp {
	position: absolute;
	left:44%;
	top:420px;
}
}

@media (min-width: 900px) and (max-width: 1199px) {
	.question {
	position: absolute;
	top:200px;
	left:31%;
}
.inp {
	position: absolute;
	left:44%;
	top:250px;
}
}

@media (min-width: 800px) and (max-width: 899px) {
	.question {
	position: absolute;
	top:200px;
	left:20%;
}
.inp {
	position: absolute;
	left:39%;
	top:250px;
	width: 22%;
}
#spn1, #spn2, #spn3 {
	position: absolute;
	left: 25%;
}
#spn3 {
	position: absolute;
	top:180px;
}
}

@media (min-width: 691px) and (max-width: 799px) {
	.question {
	position: absolute;
	top:210px;
	left:18%;
}
.inp {
	position: absolute;
	left:35%;
	top:260px;
	width: 30%;
}
#spn1, #spn2, #spn3 {
	font-size: 32px;
}
#spn3 {
	position: absolute;
	top:190px;
	left:30%;
}
#spn2{
	position: absolute;
	left:23%;
	top:95%;
} 
#spn1 {
	position: absolute;
	left:25%;
}
.what {
	position: absolute;
	left:30%;
}
}
@media (min-width: 560px) and (max-width: 691px) {
.two {
	position: absolute;
	top:200px;
}
#spn3 {
	position: absolute;
	top:200px;
	left: 22%;
}
#spn1 {
	position: absolute;
	left: 15%;
}
#spn1, #spn2, #spn3 {
	font-size: 33px;
}
.what {
	position: absolute;
	left:25%;
}
.question {
	position: absolute;
	top:190px;
	left:12%;
	text-align-last: center;
}
.inp {
	position: absolute;
	left:32%;
	top:250px;
	width: 30%;
}
}
@media (min-width: 489px) and (max-width: 559px) {
	.etsy {
		min-height: 1000px;
	}
	.what {
		position: absolute;
		top:8%;
		left: 25%;
	}
	#spn1 {
		position: absolute;
		top:70%;
		left:24%;
		font-size: 30px;
	}
	#spn2, #spn3 {
		font-size: 30px
	}
	#spn2 {
		position: absolute;
		top:180px;
		left: 15%;
	}
	.one {
		position: absolute;
		top: 210px;
	}
	#spn3 {
		position: absolute;
		top:260px;
		left: 20%;
	}
	.three {
		position: absolute;
		top:320px;
	}
	.question {
		position: absolute;
		top:300px;
		left: 12%;
	}
	.inp {
		position: absolute;
		top: 360px;
		left: 35%;
		width: 30%;
	}
}
@media (min-height: 392px) and (max-width: 488px) {
	.etsy {
		min-height: 1500px;
	}
	.what {
		font-size: 45px;
		position: absolute;
		top: 80px;
		left: 15%;
	}
	#spn1, #spn2, #spn3 {
		font-size: 28px;
	}
	#spn2 {
		position: absolute;
		top:260px;
	}
	.two {
		position: absolute;
		top:350px;
	}
	#spn3 {
		position: absolute;
		top:510px;
	}
	.three {
		position: absolute;
		top:570px;
	}
	.question {
		position: absolute;
		top:650px;
		left: 8%
	}
	.inp {
		position: absolute;
		top: 720px;
		left: 35%;
		width: 38%;
	}
}
@media (min-width: 290px ) and (max-width: 391px) {
	.what {
		position: absolute;
		left:13%;
		font-size: 35px
	}
	#spn1 {
		position: absolute;
		top:65%;
		right: 2%;
		left: 20%;
	}
	#spn1, #spn2, #spn3 {
		font-size: 26px;
	}
	.one {
		position: absolute;
		top:260px;
		left:13%;
		right: 5%;
	}
	#spn2 {
		position: absolute;
		left:10%;
	}
	.two {
		position: absolute;
		left: 10%;
		right: 3%;
	}
	#spn3 {
		position: absolute;
		top:460px;
		left: 6%;
	}
	.three {
		position: absolute;
		top: 500px;
		left: 13%;
		right: 5%;
	}
	.question {
		position: absolute;
		top: 620px;
		text-align-last: center;
	}
	.inp {
		position: absolute;
		top:720px;
		left: 18%;
		width: 55%;
	}
}
@media (max-width: 289px) {
.what {
		position: absolute;
		left:13%;
		font-size: 32px
	}
	#spn1 {
		position: absolute;
		top:65%;
		left: 20%;
	}
	#spn1, #spn2, #spn3 {
		font-size: 22px;
		font-weight: bold;
	}
	.one {
		position: absolute;
		top:260px;
		left:13%;
		right: 5%;
	}
	#spn2 {
		position: absolute;
		top:300px;
		left:10%;
	}
	.two {
		position: absolute;
		top:400px;
		left: 10%;
		right: 3%;
	}
	#spn3 {
		position: absolute;
		top:560px;
		left: 5px;
	}
	.three {
		position: absolute;
		top: 600px;
		left: 13%;
		right: 5%;
	}
	.question {
		position: absolute;
		top: 660px;
		text-align-last: center;
	}
	.inp {
		position: absolute;
		top:770px;
		left: 18%;
		width: 60%;
	}
}	
@media (max-width: 288px) {
	.etsy {
		min-height: 1700px;
	}
	.what {
		position: absolute;
		top:20px;
		left:8%;
		font-size: 30px
	}
	#spn1 {
		position: absolute;
		top:65%;
		left: 20%;
	}
	#spn1, #spn2, #spn3 {
		font-size: 22px;
		font-weight: bold;
	}
	.one {
		position: absolute;
		top:220px;
		left:13%;
		right: 5%;
	}
	#spn2 {
		position: absolute;
		top:300px;
		left:10%;
	}
	.two {
		position: absolute;
		top:400px;
		left: 10%;
		right: 3%;
	}
	#spn3 {
		position: absolute;
		top:650px;
		right: 15%;
	}
	.three {
		position: absolute;
		top: 700px;
		left: 13%;
		right: 5%;
	}
	.question {
		position: absolute;
		top: 900px;
		text-align-last: center;
		font-size: 16px;
	}
	.inp {
		position: absolute;
		top:980px;
		left: 18%;
		width: 60%;
		font-size: 12px;
	}
}
/*
.same {
	margin-top:85%;
	background-color: #23395d;
	min-height: 300px;
	width: 100%;
}
.first, .second, .third, .fourth {
	color: white;
	font-size: 12px;
	font-family: "Calibri";
}
.shp {
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	position: absolute;
	top:15px;
}
.shpb {
	position: absolute;
	top:50px;
	padding: 10px;
	font-size: 15px;
}
.end {
	background-color: #162252;
	height: 70px;
	width: 100%;
	color: white;
}
.last {
	float: left;
}
.copy {
	float:right;
}
.term {
	padding: 10px;
	text-decoration: underline;
	color: white;
}
*/
	